<div class="col-sm-6 col-sm-offset-3">
    <div class="well">
        <h3>Create new User</h3>
        <form name="newUser" novalidate>
            <div class="form-group has-feedback" ng-class="{ 'has-error': newUser.role.$touched && newUser.role.$invalid }">
                <select id="role" name="role" class="form-control" ng-model="adminCreate.user.role" ng-options="option.value for option in adminCreate.roles track by option.key" ng-change="adminCreate.changeUserSelect(option)" required>
                    <option value="">-- Select role --</option>
                </select>
                <i class="glyphicon glyphicon-glass form-control-feedback"></i>
                <div class="help-block" ng-messages="newUser.role.$error" ng-if="newUser.role.$touched">
                    <div ng-messages-include=" app/pages/messages.html"></div>
                </div>
            </div>
                <div class="form-group has-feedback" ng-class="{ 'has-error': newUser.name.$touched && newUser.name.$invalid }">
                    <input type="text" name="name" class="form-control" placeholder="Name" ng-model="adminCreate.user.name" ng-minlength="3" ng-maxlength="25" required>
                    <i class="glyphicon glyphicon-user form-control-feedback"></i>
                    <div class="help-block" ng-messages="newUser.name.$error" ng-if="newUser.name.$touched">
                        <div ng-messages-include=" app/pages/messages.html"></div>
                    </div>
                </div>
                <div class="form-group has-feedback" ng-class="{ 'has-error': newUser.email.$touched && newUser.email.$invalid }">
                    <input type="email" name="email" class="form-control" placeholder="Email" ng-model="adminCreate.user.email" required>
                    <i class="glyphicon glyphicon-envelope form-control-feedback"></i>
                    <div class="help-block" ng-messages="newUser.email.$error" ng-if="newUser.email.$touched">
                        <div ng-messages-include="app/pages/messages.html"></div>
                    </div>
                </div>
                <div class="form-group has-feedback" ng-class="{ 'has-error': newUser.password.$touched && newUser.password.$invalid }">
                    <input type="password" name="password" class="form-control" placeholder="Password" ng-model="adminCreate.user.password" ng-minlength="5" required>
                    <i class="glyphicon glyphicon-eye-close form-control-feedback"></i>
                    <div class="help-block" ng-messages="signUp.password.$error" ng-if="newUser.password.$touched">
                        <div ng-messages-include="app/pages/messages.html"></div>
                    </div>
                </div>
                <div class="form-group has-feedback" ng-class="{ 'has-error': newUser.confirmPassword.$touched && newUser.confirmPassword.$invalid }">
                    <input type="password" name="confirmPassword" compare-to="adminCreate.user.password" class="form-control" placeholder="Confirm Password" ng-model="adminCreate.user.confirmPassword" ng-minlength="5" required>
                    <i class="glyphicon glyphicon-eye-close form-control-feedback"></i>
                    <div class="help-block" ng-messages="newUser.confirmPassword.$error" ng-if="newUser.confirmPassword.$touched">
                        <div ng-messages-include="app/pages/messages.html"></div>
                    </div>
                </div>
                <button class="btn btn-primary btn-block" ng-click="adminCreate.new(newUser.$valid)" ng-disabled="newUser.$invalid"><i class="fa fa-plus"></i> Create</button>
            </form>
        </div>
    </div>