<div class="page-header">
    <h3>Log report
        <small>average speed & distance per week</small>
    </h3>
</div>

<uib-tabset>
    <uib-tab>
        <uib-tab-heading>
            <i class="fa fa-line-chart"></i> Charts
        </uib-tab-heading>
        <div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-default" id="distance-chart">
                        <div class="panel-heading">Avg. Distance (Km)</div>
                        <div class="panel-body">
                            <canvas id="distance-chart-canvas" class="chart chart-line" chart-data="timeReport.dataAvgDistance"
                                    chart-labels="timeReport.labels" chart-legend="false" chart-series="timeReport.seriesAvgDistance"
                                    chart-click="timeReport.onClickDistance" chart-options="timeReport.optionsDistance">
                            </canvas>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-default" id="speed-chart">
                        <div class="panel-heading">Avg. Speed (Km/h)</div>
                        <div class="panel-body">
                            <canvas id="speed-chart-canvas" class="chart chart-line" chart-data="timeReport.dataAvgSpeed"
                                    chart-labels="timeReport.labels" chart-legend="false" chart-series="timeReport.seriesAvgSpeed"
                                    chart-click="timeReport.onClickSpeed" chart-options="timeReport.optionsSpeed" chart-colours="timeReport.colours">>
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </uib-tab>

    <uib-tab>
        <uib-tab-heading>
            <i class="fa fa-list"></i> Data
        </uib-tab-heading>
        <div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-striped">
                        <thead>
                        <th>Year</th>
                        <th>Week</th>
                        <th>Avg. Distance</th>
                        <th>Avg. Speed</th>
                        </thead>
                        <!--<tbody> | startFrom:(timeReport.currentPage-1)*timeReport.itemsPerPage | limitTo:timeReport.itemsPerPage-->
                        <!--<tr ng-repeat="(reportWeekKey, reportWeekData) in timeReport.reportList | startFromObject:(timeReport.currentPage-1)*timeReport.itemsPerPage | limitTo:timeReport.itemsPerPage">-->
                        <tr ng-repeat="report in timeReport.reportList | startFrom:(timeReport.currentPage-1)*timeReport.itemsPerPage | limitTo:timeReport.itemsPerPage">
                            <td>{{ report.weekYear | limitTo:4:0 }}</td>
                            <td>{{ report.weekYear | limitTo:2:4 }}</td>
                            <td>{{ report.avgDistance | number : 2 }} km</td>
                            <td>{{ report.avgSpeedSums | number: 2}} km/h</td>
                            <!--<td>{{ reportWeekKey | limitTo:4:0 }}</td>-->
                            <!--<td>{{ reportWeekKey | limitTo:2:4 }}</td>-->
                            <!--<td>{{ reportWeekData.avgDistance | number : 2 }} km</td>-->
                            <!--<td>{{ reportWeekData.avgSpeedSums | number: 2}} km/h</td>-->
                        </tr>
                        </tbody>
                    </table>


                <uib-pagination class="pagination-sm"
                                total-items="timeReport.totalItems"
                                items-per-page="timeReport.itemsPerPage"
                                ng-model="timeReport.currentPage">
                </uib-pagination>
                </div>
            </div>
        </div>
    </uib-tab>
</uib-tabset>