<div class="page-header">
    <h3>Log list <small>track your activities</small></h3>
</div>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="well well-sm">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" class="form-control text-center" ng-click="time.openDatePicker(time.dateFrom)" uib-datepicker-popup="{{ time.datePickerFormat }}" is-open="time.statusDateFrom.opened" ng-model="time.dateFrom" placeholder="Date From" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" class="form-control text-center" ng-click="time.openDateToPicker($event)" uib-datepicker-popup="{{ time.datePickerFormat }}" is-open="time.statusDateTo.opened" ng-model="time.dateTo" placeholder="Date To" />
                    </div>
                </div>

                <!--<input type="text" ng-model="time.search.distance" ng-change="time.updateSearch()" />-->
            </div>
            <div class="row">
                <div class="col-sm-9">
                    <button class="btn btn-success btn-block">Search</button>
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-info btn-block" ng-click="time.resetFilters()">Clear</button>
                </div>
            </div>
        </div>
        <p class="help-block"><span class="badge">{{ time.totalItems }}</span> records</p>
        <br>
        <button class="btn btn-primary">New</button>
        <br>
        <br>

        <!-- this could be moved to a directive --> <!-- dateFilter:time.dateFrom:time.dateTo  | filter: time.search-->
        <div class="panel panel-primary timeEntry"
            ng-repeat="timeEntry in time.filtered = time.timeEntries | orderBy:'date':true | startFrom:(time.currentPage-1)*time.itemsPerPage | limitTo:time.itemsPerPage">
            <div class="panel-heading">
               <div class="row">
                    <div class="col-sm-8">
                        <h3 class="panel-title">
                            <i class="fa fa-calendar"></i>
                            {{ timeEntry.date | dateToISO | date: time.dateTimeFormat }}
                        </h3>
                    </div>
                    <div class="col-sm-4">
                        <div class="time-actions pull-right">
                            <ul class="list-inline">
                                <li>
                                    <a href="#" uib-tooltip="Delete" class="actions-delete-time-entry"
                                       ng-click="time.deleteTimeEntry()"><i class="fa fa-trash"></i></a>
                                </li>
                                <li>
                                    <a href="#" uib-tooltip="Edit" class="actions-edit-time-entry"
                                       ng-click="time.editTimeEntry()"><i class="fa fa-pencil"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-8">
                        <p><span class="text-muted"><i uib-tooltip="Distance" class="fa fa-arrows-h"></i></span> {{ timeEntry.distance }} km</p>

                        <p><span class="text-muted"><i uib-tooltip="Time" class="fa fa-clock-o"></i></span> {{ timeEntry.time }} </p>
                    </div>
                    <div class="col-sm-4">
                        <p>
                            <span class="text-muted">Avg. Speed (km/h): </span>
                            <span>
                                <i uib-tooltip="Avg. Speed" class="fa fa-tachometer"></i>
                                <span class="label label-default">{{ timeEntry.averageSpeed | number: 2 }}</span>
                            </span>

                        </p>
                    </div>
                </div>

            </div>
        </div>
        <br>

        <!--total-items="(time.timeEntries|filter:search).length"-->
       <uib-pagination
               total-items="time.totalItems"
               items-per-page="time.itemsPerPage"
               ng-model="time.currentPage">
       </uib-pagination>

    </div>
</div>