<div class="page-header">
    <h3>Log list <small>track your activities</small></h3>
</div>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="well well-sm">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" class="form-control text-center" ng-click="timeList.openDateFromPicker(timeList.dateFrom)" uib-datepicker-popup="{{ timeList.datePickerFormat }}" is-open="timeList.statusDateFrom.opened" ng-model="timeList.search.dateFrom" placeholder="Date From" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" class="form-control text-center" ng-click="timeList.openDateToPicker($event)" uib-datepicker-popup="{{ timeList.datePickerFormat }}" is-open="timeList.statusDateTo.opened" ng-model="timeList.search.dateTo" placeholder="Date To" />
                    </div>
                </div>

                <!--<input type="text" ng-model="timeList.search.distance" ng-change="timeList.updateSearch()" />-->
            </div>
            <div class="row">
                <div class="col-sm-9">
                    <button class="btn btn-success btn-block">Search</button>
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-info btn-block" ng-click="timeList.resetFilters()">Clear</button>
                </div>
            </div>
        </div>
        <p class="help-block"><span class="badge">{{ timeList.totalItems }}</span> records</p>
        <br>
        <button class="btn btn-primary" ui-sref="log_create">New</button>
        <br>
        <br>

        <!-- this could be moved to a directive --> <!-- dateFilter:timeList.dateFrom:timeList.dateTo  | filter: timeList.search-->
        <div class="panel panel-primary timeEntry"
            ng-repeat="timeEntry in timeList.filtered = timeList.timeEntries | orderBy:'date':true | startFrom:(timeList.currentPage-1)*timeList.itemsPerPage | limitTo:timeList.itemsPerPage">
            <div class="panel-heading">
               <div class="row">
                    <div class="col-sm-8">
                        <h3 class="panel-title">
                            <i class="fa fa-calendar"></i>
                            {{ timeEntry.date | dateToISO | date: timeList.dateTimeFormat }}
                        </h3>
                    </div>
                    <div class="col-sm-4">
                        <div class="time-actions pull-right">
                            <ul class="list-inline">
                                <li>
                                    <a href="#" uib-tooltip="Delete" class="actions-delete-time-entry"
                                        ng-really-message="Are you sure you want to delete this log?" ng-really-click="timeList.deleteTimeEntry(timeEntry)">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" uib-tooltip="Edit" class="actions-edit-time-entry"
                                       ng-click="timeList.editTimeEntry(timeEntry)">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-8">
                        <p><span class="text-muted"><i uib-tooltip="Distance" class="fa fa-road"></i></span> {{ timeEntry.distance | number }} km</p>
                        <p><span class="text-muted"><i uib-tooltip="Time" class="fa fa-clock-o"></i></span> {{ timeEntry.time }} </p>
                    </div>
                    <div class="col-sm-4">
                        <p>
                            <span class="text-muted">Avg. Speed (km/h): </span>
                            <span>
                                <i uib-tooltip="Avg. Speed" class="fa fa-tachometer"></i>
                                <span class="label label-default">{{ timeEntry.averageSpeed | number: 2 }}</span>
                            </span>

                        </p>
                    </div>
                </div>

            </div>
        </div>
        <br>

        <!--total-items="(timeList.timeEntries|filter:search).length"-->
       <uib-pagination
               total-items="timeList.totalItems"
               items-per-page="timeList.itemsPerPage"
               ng-model="timeList.currentPage">
       </uib-pagination>

    </div>
</div>