<div class="col-sm-6 col-sm-offset-3">
    <div class="well">
        <h3>Sign Up</h3>
        <form name="signUp" novalidate>
            <p class="alert alert-danger" ng-if="auth.signUpError"><strong>Error:</strong> {{auth.signUpErrorText}}</p>

            <div class="form-group has-feedback" ng-class="{ 'has-error': signUp.name.$touched && signUp.name.$invalid }">
                <input type="name" name="name" class="form-control" placeholder="Name" ng-model="auth.user.name" ng-minlength="3" ng-maxlength="25" required>
                <i class="glyphicon glyphicon-user form-control-feedback"></i>
                <div class="help-block" ng-messages="signUp.name.$error" ng-if="signUp.name.$touched">
                    <div ng-messages-include=" app/pages/messages.html"></div>
                </div>
            </div>
            <div class="form-group has-feedback" ng-class="{ 'has-error': signUp.email.$touched && signUp.email.$invalid }">
                <input type="email" name="email" class="form-control" placeholder="Email" ng-model="auth.user.email" required>
                <i class="glyphicon glyphicon-envelope form-control-feedback"></i>
                <div class="help-block" ng-messages="signUp.email.$error" ng-if="signUp.email.$touched">
                    <div ng-messages-include="app/pages/messages.html"></div>
                </div>
            </div>
            <div class="form-group has-feedback" ng-class="{ 'has-error': signUp.password.$touched && signUp.password.$invalid }">
                <input type="password" name="password" class="form-control" placeholder="Password" ng-model="auth.user.password" ng-minlength="5" required>
                <i class="glyphicon glyphicon-eye-close form-control-feedback"></i>
                <div class="help-block" ng-messages="signUp.password.$error" ng-if="signUp.password.$touched">
                    <div ng-messages-include="app/pages/messages.html"></div>
                </div>
            </div>
            <div class="form-group has-feedback" ng-class="{ 'has-error': signUp.confirmPassword.$touched && signUp.confirmPassword.$invalid }">
                <input type="password" name="confirmPassword" compare-to="auth.user.password" class="form-control" placeholder="Confirm Password" ng-model="auth.user.confirmPassword" ng-minlength="5" required>
                <i class="glyphicon glyphicon-eye-close form-control-feedback"></i>
                <div class="help-block" ng-messages="signUp.confirmPassword.$error" ng-if="signUp.confirmPassword.$touched">
                    <div ng-messages-include="app/pages/messages.html"></div>
                </div>
            </div>
            <button class="btn btn-primary btn-block" ng-click="auth.signup(signUp.$valid)" ng-disabled="signUp.$invalid">Sign up</button>
            <br>
            <p class="text-center text-muted">Already have an account? <a ui-sref="signin">Log in now</a></p>
        </form>
    </div>
</div>